<p>
  <strong>Commenter:</strong>
  <%= comment.user.firstname %>
</p>

<p>
  <strong>Comment:</strong>
  <%= comment.body %>  
</p>

<p>
  <% own_comment = comment.user_id == current_user.id %>
  <% if own_comment %>
      <%= link_to "Delete", [ comment.post, comment ], method: :delete %>
  <% end %>
</p>