<%= render @user %>
<% unless @user.friend_with?(current_user) || @user.id == current_user.id || Invitation.pending_request?(@user, current_user) %>
  <%= link_to "Add Friend", user_invitations_path(@user), method: :post %>
<% end %>

<% if Invitation.incoming_request?(current_user) && @user.id == current_user.id %>
  <%= link_to "Pending Friend Requests", user_invitations_url(@user), method: :get %>
<% end %>

<div class="content">
  <% @user.posts.each do |post| %>
    <%= render post %>
  <% end %>
</div>

