<header class="navbar">
  <div class="topnav">
    <nav>
      <ul>
        <a><%= link_to "Posts", posts_path %></a>
        <a><%= link_to "My Profile", @user %></a>
        <a><%= link_to "Log Out", logout_path, method: :delete %></a>
      </ul>
    </nav>
  </div>
</header>
