<div class="content">
  <% @invitations.each do |invitation| %>
    <% if Invitation.incoming_request?(@user.id) && @user.id == current_user.id && invitation.confirmed == false %>
      <%= "#{User.where(id: invitation.friend_id).first.firstname} #{User.where(id: invitation.friend_id).first.lastname}: " %> <%= link_to "Accept", user_invitation_path(user_id: @user, id: invitation.friend_id), method: :patch %> 
      <br>
    <% end %>
  <% end %>
</div>