<% provide(:title, 'Sign up') %>

<h1>Sign up</h1>
<p>This will be a signup page for new users.</p>

<form class="signupForm">

<label for="first name">First name</label><br>
<input class="shortInput" id="firstname" type="text"><br>

<label for="last name">Last name</label><br>
<input class="shortInput" id="lastname" type="text"><br>

<label for="email">Email</label><br>
<input class="shortInput" id="email" type="text"><br>

<label for="password">Password</label><br>
<input class="shortInput" id="password" type="text"><br>



</form>