body {
  background-color: rgb(240, 231, 231);
  margin: 20px;
  padding: 20px;
  font-family: Didot, sans-serif;
  font-size: 17px;
}

.container {
  background-color: rgb(252, 248, 248);
  border: 2px solid rgb(223, 184, 177);
}

.title {
  text-align: center;
}

.post {
  padding: 10px;
  margin: 5px;
  border: 2px solid rgb(223, 184, 177);
  text-align: center;
}

.content {
  padding: 10px;
  margin: 5px;
  border: 1px solid rgb(223, 184, 177);
  text-align: center;
}


/* Add a background color to the top navigation */
.topnav {
  background-color: rgb(223, 184, 177);

  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: darkgrey;
  color: white;
}

.commentpost {
  background-color: rgb(252, 248, 248);
  border: 2px solid rgb(223, 184, 177);
  padding:15px;
}

.comment {
  margin: 5px;
  border: 1px solid rgb(223, 184, 177);
  text-align: left;
  width: 600px;
  padding: 15px;
}

.commentarea {
  font-size: 17px;
  line-height: 1,5px;
}

.subtext {
  font-family: Didot, sans-serif;
  font-size: 14px;
  color:gray;
}

.post-image{
  height: 60%;
  width: 60%;
}