body {
  background-color: rgb(240, 231, 231);
  margin: 20px;
  padding: 20px;
  font-family: 'Futura';
  font-size: 17px;
}

.title {
  text-align: center;
  font-family: 'Futura';
}

.container {
  background-color: rgb(252, 248, 248);
  border: 2px solid rgb(203, 172, 172);
}

.content {
  padding: 10px;
  margin: 5px;
  border: 2px solid rgb(203, 172, 172);
  text-align: center;
}

.table {
  padding: 10px;
  margin: 5px;
  border: 2px solid rgb(203, 172, 172);
  text-align: left;
}

.post {
  padding: 10px;
  margin: 5px;
  border: 2px solid rgb(203, 172, 172);
  text-align: center;
  float: right;
  width: 90%;
}

.underpost {
  padding: 10px;
  margin: 5px;
  text-align: left;
  float: right;
  width: 90%;
  font-size: 15px;
}

.poster-info {
  font-size: 15px;
  text-align: left;
}

/* Add a background color to the top navigation */
.topnav {
  background-color: rgb(203, 172, 172);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(221, 201, 201);
  color: rgb(144, 90, 90);
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: darkgrey;
  color: white;
}

.navprofile {
  margin-right:50px;
  float: right;
  text-align: right;
  vertical-align: middle;
}

.commentpost {
  background-color: rgb(252, 248, 248);
  border: 2px solid rgb(223, 184, 177);
  padding:15px;
}

.comment {
  margin: 5px;
  border: 1px solid rgb(223, 184, 177);
  text-align: left;
  width: 600px;
  padding: 15px;
}

.commentarea {
  font-size: 17px;
  line-height: 1,5px;
}

.subtext {
  font-family: Didot, sans-serif;
  font-size: 14px;
  color:gray;
}

.post-image {
  height: 70%;
  width: 70%;
}
  
.newpost {
  margin: 10px;
  padding: 20px;
  font-family: Didot, sans-serif;
  font-size: 20px;
  line-height: 2px;
  text-align: left;
}

.textarea * {
  vertical-align: middle;
  height: 300px;
  width: 90%;
}