// Place all the styles related to the User controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.profile-pic {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  display: inline-block;
}
.user-pic {
  height: 200px;
  width: 200px;
  display: inline-block;
}
